@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBtn {
    @apply hidden h-6 md:inline-flex cursor-pointer hover:scale-125 transition duration-100 ease-out;
  }
  .postBtn {
    @apply h-7 hover:scale-125 cursor-pointer transition-all duration-150 ease-out;
  }
}

.react-responsive-modal-modal {
  padding-top: 20px;
  border-radius: 5px;
  margin: 0 !important;
  padding: 0 !important;
}

.chat-bg {
  background-color: #fafafafa;
}
